#about .content {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    gap: 2rem;
}

#about .images {
    position: relative;
    width: 50%;
    height: 80%;
    align-self: center;
}

#about #explis {
    position: relative;
    width: 50%;
    height: 80%;
    align-self: center;
}

#about .content img {
    width: 40%;
    height: 50%;
    position: absolute;
}

.images img:nth-child(1) { 
    top: 0; 
    left: 0; 
}

.images img:nth-child(2) { 
    bottom: 5%; 
    left: 10%; 
}

.images img:nth-child(3) { 
    bottom: 30%; 
    left: 35%; 
}

.images img:nth-child(4) { 
    top: 5%; 
    left: 55%; 
}

/* On cache tous les span */
#about #explis span {
    line-height: 2rem;
    text-align: justify;
    font-size: 2vh;
    letter-spacing: 0.2rem;
    padding: 1rem;
    height: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Afficher le premier span par défaut*/
#about #explis span:nth-child(1) {
    visibility: visible;
    text-align: center;
    opacity: 1;
}

.images img:nth-child(1) { 
    top: 0; 
    left: 0;
    z-index: 1;
}

.images img:nth-child(2) { 
    bottom: 5%; 
    left: 10%;
    z-index: 2;
}

.images img:nth-child(3) { 
    bottom: 30%; 
    left: 35%;
    z-index: 4;
}

.images img:nth-child(4) { 
    top: 5%; 
    left: 55%;
    z-index: 3;
}

/* Solution ultra-générique : quand une image est survolée, masquer tous les spans */
#about .content:has(.images img:hover) #explis span {
    opacity: 0;
    visibility: hidden;
}

/* Puis afficher uniquement le span correspondant à l'index de l'image survolée */
#about .content:has(.images img:nth-child(1):hover) #explis span:nth-child(2),
#about .content:has(.images img:nth-child(2):hover) #explis span:nth-child(3),
#about .content:has(.images img:nth-child(3):hover) #explis span:nth-child(4),
#about .content:has(.images img:nth-child(4):hover) #explis span:nth-child(5) {
    opacity: 1;
    visibility: visible;
}