#amenities > .content {
    background-image: url("../pics/back08.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
}