#amenities > .content {
    background-image: url("../pics/back08.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.content #activities-list{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.content #explications{
    height: 100%;
    width: 100%;
    background-color: rgba(226, 56, 56, 0.3);
}