#amenities > .content {
    background-image: url("../pics/back08.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.content #activities-list {
    width: 90%;
    background: rgba(63, 156, 193, 0.6);
    padding: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.content #explications{
    overflow: hidden;
    height: 95%;
    width: 50%;
}

.activities {
    font-size: large;
    font-weight: bolder;
    padding: 0.5rem;
}

#amenities #activities-list:hover {
    cursor: pointer;
}

#amenities .content i {
    margin: 5px 20px 0 10px;
}

#expli1 {
    padding: 1rem;;
    height: 100%;
    background-image: url("../pics/piscine01.jpg");
}

#explications div span {
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 1rem;
    display: block;
}