#amenities > .content {
    background-image: url("../pics/back08.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.content #activities-list {
    width: 90%;
    background: rgba(63, 156, 193, 0.6);
    padding: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.content #explications{
    height: 100%;
    width: 100%;
    background-color: rgba(226, 56, 56, 0.3);
}