:root {
    --primary-color: #C1B086;
    --shadow-main: 6px 6px 6px #000000;
    --shadow-soft: 0 13px 43px 0 rgb(37 46 89/10%);
    --border-main: 2px solid var(--primary-color);
    --border-thick: 4px solid var(--primary-color);
    --transition-smooth: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --font-main: 'Roboto Slab', serif;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header, #about, #amenities, #rooms, #restaurant, #gallery {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-rows: 1fr 4fr;
    gap: 0; 
    grid-template-areas: 
        "headerall"
        "content"; 
}

.content {
    grid-area: content;
    background-color: #18c753;
}

#about, #amenities, #rooms, #restaurant, #gallery {
    .headerall {
        grid-area: headerall;
        background-image: url("../pics/back03.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        border-bottom: 6px solid var(--primary-color);
        border-style: none none groove none;
    }
}

header .headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}