:root {
    --primary-color: #C1B086;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header, #about, #amenities, #rooms, #restaurant, #gallery {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-rows: 1fr 4fr;
    gap: 0; 
    grid-template-areas: 
        "headerall"
        "content"; 
}

.content {
    grid-area: content;
    background-color: #18c753;
}

#about, #amenities, #rooms, #restaurant, #gallery {
    .headerall {
        grid-area: headerall;
        background-image: url("../pics/back03.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        border-bottom: 6px solid var(--primary-color);/* Ligne à ajouter */
        border-style: none none groove none;/* Ligne à ajouter */
    }
}

header .headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}