html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header, #about, #amenities, #rooms, #restaurant, #gallery {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid; 
    grid-template-rows: 1fr 4fr;
    gap: 0; 
    grid-template-areas: 
        "headerall"
        "content"; 
}

.content {
    grid-area: content;
    background-color: #18c753;
}

.headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}

header {border-left: 8px solid #da53ad;}
#about {border-left: 8px solid #53da6a;}
#amenities {border-left: 8px solid #93a726;}
#rooms {border-left: 8px solid #b6238a;}
#restaurant {border-left: 8px solid #0e925f;}
#gallery {border-left: 8px solid #250eaa;}