.headerall {
    position: relative;
    grid-area: headerall;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    overflow: hidden;
}

.returnbtn {
    margin: 0px;
    background: var(--primary-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px 40px;
    align-self: center;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.returnbtn:hover {
    /* box-shadow: none; */
    transform: scale(1.2);
    color: black;
    border: 2px solid var(--primary-color);
    background: white;
}

.headerall {
    position: relative;
}

/* Code pour les titre h2 des headerall */
.headerall::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20%;
    height: 1vh;
    background: var(--primary-color);
}

.headerall h2 {
    font-size: 1.5rem;
    font-weight:700;
    letter-spacing:0.2rem;
    text-transform:uppercase;
    text-align:center;
    padding: 2rem;
    width: 50vh;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
}

.headerall h2:before, .headerall h2:after {
    background-color: var(--primary-color);
    content: '';
    display: block;
    height: 6%;
    width: 20%;
    position: absolute;
}

.headerall h2:before {
    top: -2%;
    left: 1rem;
}

.headerall h2:after {
    right: 1rem;
    bottom:0;
}