#restaurant .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "salle recette1 recette2"
        "salle recette3 recette4";
    gap: 20px;
    height: 60vh;
    width: 80%;
    margin: 5vh auto;
}

#restaurant .content #salle {
    grid-area: salle;
    background-image: url("/pics/re.jpg");
}

#restaurant .content #recette1 {
    grid-area: recette1;
    background-image: url("/pics/french-food.jpg");
}

#restaurant .content #recette2 {
    grid-area: recette2;
    background-image: url("/pics/mexican-food.jpg");
}

#restaurant .content #recette3 {
    grid-area: recette3;
    background-image: url("/pics/italian-food.jpg");
}

#restaurant .content #recette4 {
    grid-area: recette4;
    background-image: url("/pics/deutch-food.jpg");
}