#rooms .content {
    margin: 12vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5vh;
}

#room1 {
    grid-column: 2 / 3;
}

#room2 {
    grid-column: 3 / 4;
}

#room3 {
    grid-column: 4 / 5;
}